        <div class="well row btn-bare btn-row">
            <div class="header" data-toggle="collapse" data-target="#panel0">
                Objective
            </div>
            <div class="right">
                <button class="btn btn-success" ng-click="toggleStateSingle()">
                    <span>Save</span>
                </button>
            </div>
        </div>

        <div id="panel0" class="panel panel-default in">

           <!-- <div id="editor">
                <textarea v-model="input" debounce="0"></textarea>
                <div v-html="input | marked"></div>
            </div> -->


            <div class="input-group input-group-textpanel">
                <div class="panel-body panel-bare">
                    <textarea class="form-control" rows="5"  placeholder="Type your work experience here..." ng-model="panelText0"></textarea>
                </div>
            </div>


        </div>