        <button type="button" class="well row btn-bare btn-row" data-toggle="collapse" data-target="#panel0">
            Objective
        </button>

        <div id="panel0" class="panel panel-default">

           <!-- <div id="editor">
                <textarea v-model="input" debounce="0"></textarea>
                <div v-html="input | marked"></div>
            </div> -->


            <div class="input-group input-group-textpanel">
                <div class="panel-body panel-bare">
                    <textarea class="form-control" rows="5"  placeholder="Type your work experience here..." ng-model="panelText0"></textarea>
                </div>
            </div>


        </div>